.root{
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
}
#wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .sidebar{
  display: flex;
  flex-direction: column;
  background-color: rgba(18, 179, 165, 0.623);
  padding: 1rem;
  border-right: 0.1rem solid gray;
}
.sidebar ul{
  padding: 0%;
}
.sidebar a{
  text-decoration: none;
  color: black;
 font-size: 21px;
}

.sidebar li {
   list-style: none;
   padding: 1rem;
} */
